/* src/Header/Header.css */

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #c1384c;
  color: #c1384c;
}

.App-logo {
  width: 200px;
  height: auto;
}

.brand-font {
  font-family: 'Playball', cursive;
  color: #e53e3e; /* Red color for branding */
}

