/* src/Login/Login.css */

/* Login form */
.login-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field {
  border: 1px solid #ddd; /* Light gray border */
  padding: 0.5rem;
  font-size: 0.875rem; /* 14px */
}

.btn-submit {
  background-color: #edf2f7; /* Light gray */
  border: 1px solid #cbd5e0; /* Light gray border */
  padding: 0.5rem 1rem;
  font-size: 0.875rem; /* 14px */
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #e2e8f0; /* Light gray (hover state) */
}
